.carousel {
    padding: 81px 0px 41px 0px;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
        width: 100%;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        left: -67px;
        transform: translateY(-50%);
        border: 0;
        background: #fff;
    }
    .slick-next {
        right: -67px;
        left: auto;
    }

    .slick-list {
        width: 100%;
        .slick-track {
            width: 100%;
            .slick-slide {
                img {
                    width: 100%;
                }
            }
        }
    }
}
