.title {
    text-align: center;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    &_left {
        color: #fff;
        font-size: 36px;
        line-height: 36px;
        text-align: left;
        line-height: 44px;
    }
}
