@import "base/fonts";
@import "base/variables";
@import "base/mixins";

* {
    font-family: "MuseoSansCyrl";
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header.scss";
@import "blocks/buttons";